.page-enter-active,.page-leave-active{
    transition: opacity 2s;
}
.page-enter,.page-leave-active{
    opacity: 0;
}

.link {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #f5f5f7;
    transition: all .2s;
    &::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        background: #f5f5f7;
        bottom: -4px;
        right: 0;
        transition: all .2s;
    }

    &:hover::after {
        left: 0;
        width: 100%;
        transition: all .2s;
    }

}